@font-face {
  font-family: 'Hack';
  src: local('Hack'), url(./fonts/Hack-Regular.ttf) format('truetype')
}

.highlight-row {
  background-color: #d9f4ff;
}

table {
  width: 100%;
  border: 1px solid black;
  table-layout: fixed;
}

td {
  padding: 10px;
  height: 20px;
}

th {
  background-color: darkgrey;
  color: white;
  padding: 10px;
  height: 20px;
}
